html
  head
    block meta
    block title 
    block scripts
    block style 
  body
    div.nav
      div.logo 
        h1.B B 
      div.Bechyu
        h1 BECHYU 
        p.fulfil fulfil your requirements  
    block content
    block foot