* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 15px;
  background-color: rgb(224, 224, 235);
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: black;
  height: 1.2em;
}
h1 {
  color: white;
}
.B {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  margin-top: 0.5em;
}
.logo {
  background-color: red;
  width: 2.7em;
  height: 2.8em;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 1em;
}
.fulfil {
  font-size: 0.5em;
  font-weight: 1000;
  text-align: right;
  color: white;
}
.detail {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.img {
  width: 38em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.img img {
  width: 80%;
  height: 38em;
}
.img h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.6em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h6 {
  font-size: 1em;
}

.btn {
  width: 14%;
  margin-top: 21px;
  cursor: pointer;
  background-color: rgb(145, 135, 135);
  text-align: center;
  padding: 3px;
}
