.img img {
  width: 15em;
  height: 21em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1em;
}
h6 {
  font-size: 0.7em;
}
.img {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.img h2 {
  font-size: 1em;
}
