.box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 2em;
  /* border: 2px solid red; */
}
.icons {
  width: 10em;
  height: 15em;
}
.icons img {
  height: 7em;
  margin-bottom: 1em;
}
h3 {
  font-size: 0.8em;
  text-align: center;
}
